*{
    font-family: 'Anton', sans-serif;
    color: black;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    background-color: rgba(120,134,107);
        
    }
 
    header
    {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    transition: 0.5s linear;
    }

    .navbar
    {
    display: flex;
    }

    .navbar a
    {
    padding: 8px 17px;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

    }

    .navbar a:hover
    {
    background: #385538;
    border-radius: 0.2rem;
    transform: 0.2 all linear;
    }

    .header-icon
    {
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
    }

    .header-icon .bx
    {
    color: black;
    }

    .header-icon .bx:hover
    {
    color:black;
    }
    .principal
    {
        padding-top: 100px;
    }
    .img-p img
    {
        float: left;
        width: 50%;
    }
    .text
    {
        grid-row: 30px;
        text-align: center;
    }
    
    

    button {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        

      }
      
    button {
        --primary-color: black;
        --hovered-color: darkseagreen ;
        position: relative;
        display: flex;
        font-weight: 600;
        font-size: 20px;
        gap: 0.5rem;
        align-items: center;

      }
      
    button p {
        margin: 0;
        position: relative;
        font-size: 20px;
        color: var(--primary-color)
        
      }
      
    button::after {
        position: absolute;
        content: "";
        width: 0;
        left: 0;
        bottom: -7px;
        background: var(--hovered-color);
        height: 2px;
        transition: 0.3s ease-out;
      }
      
    button p::before {
        position: absolute;
      /*   box-sizing: border-box; */
        content: "Comprar";
        width: 0%;
        inset: 0;
        color: var(--hovered-color);
        overflow: hidden;
        transition: 0.1s ease-out;
      }
      
    button:hover::after {
        width: 100%;
      }
      
    button:hover p::before {
        width: 100%;
      }
      
    button:hover svg {
        transform: translateX(4px);
        color: var(--hovered-color)
      }
      
    button svg {
        color: var(--primary-color);
        transition: 0.2s;
        position: relative;
        width: 15px;
        transition-delay: 0.2s;
      }